<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Léxico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="contenedor">
        <form method="POST">
            <div class="input-container">
                <textarea name="code" class="code-input" placeholder="Inserta tu código aquí...">{{ code }}</textarea>
            </div>
            <button type="submit" class="analyze-button">Analizar</button>
        </form>
        
        <div class="contenedor_tabla">
            <table>
                {% if tokens %}
                    <tr>
                        <th>Línea</th>
                        <th>Tipo de Token</th>
                        <th>Lexema</th>
                    </tr>
                    {% for tipo, valor, linea in tokens %}
                    <tr>
                        <td>{{ linea }}</td>
                        <td>{{ tipo }}</td>
                        <td><pre><code>{{ valor }}</code></pre></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3">No se encontraron tokens</td></tr>
                {% endif %}
            </table>
        </div>
    </div>
</body>
</html>